<h2>Historical Detail</h2>

<h2>{{myhistoricalplaces.placeName}}</h2>
<p>{{myhistoricalplaces.description}}</p>
{{#each myhistoricalplaces.images}}
<a class="lightbox" href="#dog"><img src="{{this}}"></a>
{{/each}}

<section class="places-reviews">
    <form action="/historicalplaces/{{myhistoricalplaces._id}}/process-review" method="POST">
        <label for="">
            Your Name:
            <input type="text" name="firstName" placeholder="Anton Ego">
        </label>

        <label for="">
            Commments:
            <input type="text" name="comments" placeholder="My favorite places!">
        </label>

        <button>Submit Review</button>
    </form>

    <ul>
        {{#each myhistoricalplaces.reviews}}
        <li>
            <p><b>{{this.firstName}}</b>says:</p>
            <p>{{this.comments}}</p>
        </li>
        {{/each}}
    </ul>
</section>