<h2>Trekking Place</h2>


<h2>{{mytrekkingPlace.placeName}}</h2>
<p>{{mytrekkingPlace.description}}</p>
{{#each mytrekkingPlace.images}}
<img src="{{this}}">
{{/each}}

<section class="places-reviews">
    <form action="/trekkingplaces/{{mytrekkingPlace._id}}/process-review" method="POST">
        <label for="">
            Your Name:
            <input type="text" name="firstName" placeholder="Anton Ego">
        </label>

        <label for="">
            Commments:
            <input type="text" name="comments" placeholder="My favorite places!">
        </label>

        <button>Submit Review</button>
    </form>

    <ul>
        {{#each mytrekkingPlace.reviews}}
        <li>
            <p><b>{{this.firstName}}</b>says:</p>
            <p>{{this.comments}}</p>
        </li>
        {{/each}}
    </ul>
</section>