<h2>{{mytrekkingPlace.placeName}}</h2>
<div class="detail-img">

    {{#each mytrekkingPlace.images}}
    <a class="lightbox" href="#dog"><img src="{{this}}"></a>
    <div class="lightbox-target" id="dog"><img src="{{this}}">
        <a class="lightbox-close" href="#"></a></div>
    {{/each}}
</div>
<div class="descriptionbg">
    <p>{{mytrekkingPlace.description}}</p>
</div>
<section class="places-reviews">
    <form action="/trekkingplaces/{{mytrekkingPlace._id}}/process-review" method="POST">
        <label for="">
            Your Name:
            <input type="text" name="firstName" placeholder="Anton Ego">
        </label>

        <label for="">
            Comments:
            <input type="text" name="comments" placeholder="My favorite places!">
        </label>

        <button>Submit Review</button>
    </form>

    <ul>
        {{#each mytrekkingPlace.reviews}}
        <li>
            <p><b>{{this.firstName}}</b>says:</p>
            <p>{{this.comments}}</p>
        </li>
        {{/each}}
    </ul>
</section>