
<div class="blog-list-page-title"><h1>My Stories</h1></div>

{{!-- <div>
  {{#each storyArray}}
  <div>
    <h3>{{this.title}}</h3>
    <h3>{{this.place}}</h3>
    <h3>{{this.description}}</h3>
    
    <img src = {{this.avatar}} alt="mysterious-image"></a>

  </div>
  {{/each}}
</div> --}}

<div class="row show-story">
  {{#each storyArray}}
    <div class="column">
 <div class="content">
    
    <a class="img-center" href="/see-story/{{this.id}}">
    <img class="img-list" src={{this.avatar}}>
     </a>
      <h3>{{this.place}}</h3>
     </div>
     </div>
  {{/each}}
  
</div>