
  <div class="showdetailstory">
    <div class="showtitle">
    <h1>{{story.title}} </h1>by<i> {{story.writerName}} </i>
    </div>
  </div>
    
  <section class="storypart">
      <div class="bgimg">
     
      </div>
        <div class="storyimg">
            <img src = {{story.avatar}} alt="mysterious-image"></a>
        </div>
      
    <div class="blogstory">
      <h3>{{story.place}}</h3>
      <p>{{story.description}}</p>
    </div>
   
  </section>

  <section class="storysectiontwo">
    <img src="http://www.happycoconutstravelblog.com/uploads/5/3/4/1/53415759/13438880-1314737855220988-3602951786261444492-n-1_orig.jpg">
    <img src="http://www.happycoconutstravelblog.com/uploads/5/3/4/1/53415759/images-1-7_orig.jpg">
    <img src="http://www.happycoconutstravelblog.com/uploads/5/3/4/1/53415759/imagesf033cohx_orig.jpg">
    <img src="http://www.happycoconutstravelblog.com/uploads/5/3/4/1/53415759/images-2-1_1_orig.jpg">
  </section>
   
   
  
